header, footer {
    text-align: center;
    min-width: 500px;
  }
  
  main {
    display: grid;
    grid-template-columns: 1024px;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-top: 10px;
    grid-auto-rows: auto;
    justify-items: left;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-auto-rows: auto;
    grid-auto-flow: row;
  }

  img {
    width: 10%;
    height: auto;
  }
  
  .container {
    min-width: 500px;
    margin: auto;
  }
  
  footer {
    margin-top: 80px;
  }